<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" th=content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MAP TITLE - Changelog</title>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
        <link rel="stylesheet" href="../style.css">
        <script src="../utils.js"></script>
    </head>
    <body>
        <div class="center">
            <h1>MAP TITLE Changelog</h1>
        </div>
        <div id="changelog"></div>
        <div class="center">
            <a href="./index.html">Back to Overview</a>
        </div>
    </body>
</html>