<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" th=content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MAP TITLE - Overview</title>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
        <link rel="stylesheet" href="../style.css">
        <script src="../utils.js"></script>
    </head>
    <body>
        <div class="center">
            <h1>MAP TITLE</h1>
        </div>
        <div>
            Description
        </div>
        <br><br>
        <div>
            <h2>Additional Links:</h2>
            <a href="./how-to-play.html">How To Play</a>
            <br>
            <a href="./changelog.html">Changelog</a>
        </div>
        <br>
        <div id="map-id-download" class="center" data-hidden="true">
            <a download href="">
                <button>Download Map Version 1.0</button>
            </a>
        </div>
        <div id="home-button" data-hidden="false" class="center">
            <a href="../index.html">Back to Home</a>
        </div>
        <br>
        <div data-hidden="true">
            <h2>Images:</h2>
            <img src="">
        </div>
    </body>
</html>