[data-hidden="true"] {
    display: none;
}


.center {
    text-align: center
}


img {
    display: block;
    margin: 0 auto;
}


div.toc h3 {
    text-align: center;
}

div.toc > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

div.toc > ul > li {
    padding: 5px;
    margin: 5px;
}


div.attribution {
    background-color: rgb(50, 71, 100);
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}


img.icon {
    --size: 30px;
    width: var(--size);
    height: var(--size);
}

img.inline {
    vertical-align: middle;
}