<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Platform Power - Download</title>

	<!-- General Embed tags -->
	<meta property="og:title" content="Platform Power">
	<meta property="og:description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">
	<meta property="og:url" content="https://alkali-metal.github.io/maps/Platform-Power/">
	<meta property="og:image" content="https://alkali-metal.github.io/maps/Platform-Power/assets/cover.jpg">
	<meta property="og:type" content="website">

	<!-- Embed information for Discord -->
	<meta name="description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">

	<!-- Embed information for Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Platform Power">
	<meta name="twitter:description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">

	<!-- CSS Imports -->
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
	<link rel="stylesheet" href="../style.css">

	<!-- Javascript Imports -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./assets/icons.js"></script>
	<script src="../utils.js"></script>
	<script>
		let layout = {
			title: false,
			header: true,
			table_of_contents: true,
			footer: false
		}
	</script>
</head>
<body>
<div id="app">
	<h1 v-if="page.show.title" class="center">{{map.name}}</h1>
	<div v-if="page.show.header">
		<p class="center">
			This Readme is also included in the ZIP file of the map download in
			plaintext format.
		</p>
		<hr>
	</div>
	<div id="table_of_contents" class="toc" v-if="page.show.table_of_contents">
		<h3>Additional Links:</h3>
		<ul><li v-for="link in page.contents"><a :href="link[1]">{{link[0]}}</a></li></ul>
		<hr>
	</div>
	<div id="body">
		Hello,
		<br><br>
		A few things before you get started:
		<ol>
			<li>
				This map is not copyleft, you cannot upload, modify and redstribute this map without the creator's permission (<strong>Alkali Metal</strong>).
			</li>
			<li>
				This map is a port of another map by the same name which was originally designed by Jarren and Ben Baptist, Alkali_metal has received permission from Jarren to port the map.
			</li>
			<li>
				If you are hosting an event on this map, if you don't want all players to be able to change the game settings and start the game, run the following command for all players you want to be able to control the game.
				<br>
				<pre><code>/tag USERNAME add control</code></pre>
				<br>
				This will remove the game controls from all users that do not have that tag. Any number of players can have this tag to give them control of the game.
			</li>
			<li>
				To credit the creators of the map in videos and streams, please link to:
				<br>
				<pre><code>https://alkali-metal.github.io/maps/Platform-Power/</code></pre>
			</li>
		</ol>
		Debug information can be found by running the following command as an operator:
		<br>
		<pre><code>/function classic:debug</code></pre>
	</div>
	<hr>
	<div id="footer" class="center toc" v-if="page.show.footer">
		<ul>
			<li v-for="link in page.footer"><a :href="link[1]">{{link[0]}}</a></li>
		</ul>
	</div>
</div>
<script src="./data.js"></script>
<script>
	let params = new URLSearchParams(window.location.search);
	if (params.get(`nodownload`) == null || params.get(`nodownload`) === `false`) {

		// Check if they are specifying a version
		if (params.get(`v`)) {
			let v = params.get(`v`)
			for (var version of map_data.$data.map.versions) {
				if (v === version.id) {
					if (version.hidden) {
						let force_download = params.get(`force`);
						if (force_download !== null) {
							download(version.filename);
							break;
						}
					};
				};
			};
		} else {
			download(map_data.$root.latest.filename);
		};
	};
</script>
</body>
</html>