<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Platform Power - How To Play</title>

	<!-- General Embed tags -->
	<meta property="og:title" content="Platform Power">
	<meta property="og:description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">
	<meta property="og:url" content="https://alkali-metal.github.io/maps/Platform-Power/">
	<meta property="og:image" content="https://alkali-metal.github.io/maps/Platform-Power/assets/cover.jpg">
	<meta property="og:type" content="website">

	<!-- Embed information for Discord -->
	<meta name="description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">

	<!-- Embed information for Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Platform Power">
	<meta name="twitter:description" content="A team based PVP minigame where the goal is to power your platforms to gain power and defeat the other teams.">

	<!-- CSS Imports -->
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
	<link rel="stylesheet" href="../style.css">

	<!-- Javascript Imports -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./data.js" defer></script>
	<script src="../utils.js"></script>
	<script>
		let layout = {
			title: true,
			header: true,
			table_of_contents: true,
			footer: true
		}
	</script>
	<style>
		table {
			border-collapse: collapse;
		}
		table td {
			text-align: center;
			width: 33%;
			border-color: #7289da;
			border-style: solid;
			border-width: 1px;
		}
	</style>
</head>
<body>
<div id="app">
	<h1 v-if="page.show.title" class="center">How to Play {{map.name}}</h1>
	<div v-if="page.show.header">
		<p class="center"></p>
		<hr>
	</div>
	<div id="table_of_contents" class="toc" v-if="page.show.table_of_contents">
		<h3>Additional Links:</h3>
		<ul><li v-for="link in page.contents"><a :href="link[1]">{{link[0]}}</a></li></ul>
		<hr>
	</div>
	<div id="body">
		<div>
			<p>
				There are a total of 9 platforms for each team, which consist of:
				<table>
					<tr>
						<td colspan="3">Arena Center</td>
					</tr>
					<tr>
						<td>Fireball Tower</td>
						<td>Power Source</td>
						<td>Fireball Tower</td>
					</tr>
					<tr>
						<td>Redstone</td>
						<td>Sandstone</td>
						<td>Food & Ladders</td>
					</tr>
					<tr>
						<td>Armour & Weapons</td>
						<td>Skeletons</td>
						<td>Misc Items</td>
					</tr>
				</table>
				There is also a single island at the very center of all the teams which spawns stone bricks that cannot be broken with the fireballs.
			</p>
			<p>
				The goal of the game is very simple, protect your bed and destroy the other team's beds to prevent them from re-spawning.
			</p>
		</div>
		<div>
			<h2>Helpful Hints:</h2>
			<ul>
				<li>
					There is additional redstone in the hopper at the redstone island.
				</li>
				<li>
					You can move the hopper to any island that you want more resources from.
				</li>
				<li>
					There is a nice spot on the skeleton island for your bed.
				</li>
				<li>
					If you lose your bed, you can steal another team's and put it in the same spot as your bed and it will still let you respawn.
				</li>
			</ul>
		</div>
	</div>
	<hr>
	<div id="footer" class="center toc" v-if="page.show.footer">
		<ul>
			<li v-for="link in page.footer"><a :href="link[1]">{{link[0]}}</a></li>
		</ul>
	</div>
</div>
</body>
</html>